#paragraph{
    background:purple;
    color : white;
    text-align: center;
    border : yellow solid;
    outline: 20px solid green;
    margin:25px 35px 40px 50px;
    font : italic 14px Arial ;
}

.button{
    color:white;
    background-color :lightgreen;
    font : tahoma 10px ;
    border-radius:10px;
    padding-left :10px;
    padding-right :10px;
}

