body {
  background-image: linear-gradient(to right, rgb(255, 51, 51,0.8),rgb(255, 51, 51,0.5));
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

hr {
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
}

img {
  height: 180px;
}

h1 {
  padding-bottom: 10px;
  border-bottom: white dotted 10px;
}

h1, h4 {
  color: black;
}

h4 {
  text-decoration: underline dashed white;
  text-underline-offset: 3px;
}

a, p, ul, table {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #E4572E;
  text-decoration: none;
}

a:hover {
  color: #FFC914;
  text-decoration: underline;
}
